{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'incomes' %}">incomes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add incomes</li>
        </ol>
    </nav>
</div>

<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <form action="{% url 'add_income' %}" method="post">

                {% include 'partials/messages.html' %}
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="amount">Amount</label>
                    <input type="number" name="amount" class="form-control form-control-sm" id="amount" value = "{{values.amount}}">
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" name="description" class="form-control form-control-sm" id="description" value="{{values.description}}">
                </div>

                <div class="form-group">
                    <label for="category">Category</label>
                    <select name="category" class="form-control form-control-sm" id="category">
                        <option value="">Select category</option>
                        {% for category in Categories %}
                        <option value="{{category.name}}">{{category.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="date" name="date" class="form-control form-control-sm" id="date">
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm">Save</button>
                    <a href="{% url 'incomes' %}" class="btn btn-secondary btn-sm">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
